<% include ../header %>

<style>
    .center-content {
        top: 50%;
        margin-top: 110px;
    }

   
   
</style>
<script	src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();
    const notify =(name, classe, msg) => {
        const status = document.getElementById(`sp_${name}`);
        if(status){
            status.innerHTML = `<code class="${classe}">${msg}</code>`;
        }
    }

    socket.on('notify-onlines', (name) => {
        notify(name,'success' ,'Online');
	});
    socket.on('notify-offlines',	(name)	=>	{
        notify(name,'warning' ,'Offline');
    });

    socket.on('new-message', (data) => {
        const chat = document.getElementById(`badge_${data.name}`);
       
        if	(chat.href.includes('?room='))	{
            chat.href = chat.href.replace(/\?room=[\w]+/, `?room=${data.room}`);
        } else {
            chat.href += `?room=${data.room}`;
        }
    
        notify(data.name,'primary', 'New Message');
      
    });

</script>

<div class="container-fluid">

    <div class="grid">

        <div class="row">
            <div class="cell">
                <div> <% include ../menu %></div>
            </div>
         
        </div>
        
        <div class="center-content">
            <div class="row">
                <div class="cell">
                    <form action="/contact" method="POST" class="inline-form" data-role="validator" >
                        <input type="text" name="contact[name]" placeholder="Name" data-validate="required minlength=3">
                        <input type="text" name="contact[email]" placeholder="Email" data-validate="required email">
                        <button class="button success">Submit</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    
                        <table class="table" data-role="table"
                        data-cls-table-top="row flex-nowrap"
                        data-cls-search="cell-md-8"
                        data-cls-rows-count="cell-md-4"
                        data-rows="15"
                        data-rows-steps="15, 30"
                        data-show-activity="false">
                            <thead>
                            <tr>
                                <th data-name="name" >Name</th>
                                <th data-name="email" >Email</th>
                                <th data-name="status" >Status</th>
                                <th>Action</th>                            
                            </tr>
                            </thead>
                            <tbody>
                            <% contacts.forEach((contact, index) =>{  %>
                            <tr>
                                <td><%- contact.name %></td>
                                <td><%- contact.email %></td>
                                <td><span id='sp_<%-contact.name%>'><code class="warning">Offline</code></span></td>
                                <td>
                                    <a href="/contact/<%- contact._id %>"> 
                                        <span class="ml-1">Details</span>
                                        
                                    </a>
                                    <a id='badge_<%- contact.name %>' href="/chat">
                                        <span class="ml-1">Chat</span>
                                        
                                    </a>
                                </td>
                                
                            </tr>
                            <% }) %>    
                            </tbody>
                        </table>
                    </div>
                
            </div>
        </div>
    </div>
       
</div>


<% include ../footer %>